SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=.ngrok-free.app,.ngrok-free.dev,localhost

DB_NAME=
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

API_KEY_RAJA_ONGKIR_SHIPPING_COST=
API_KEY_RAJA_ONGKIR_SHIPPING_DELIVERY=

MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=False
